// STARTERS

@import "variables";
@import "achievements";
@import "contact";
@import "main-layout&Navbar";
@import "work";
@import "operations";
@import "opinions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Genos", sans-serif;

  // line-height: 1.6;
  color: $primary-color;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

%btn-shared {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn-tab {
  display: inline-block;
  background-color: $primary-color;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.1rem 2.7rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

%border-gold {
  border-bottom: 2px solid $border-color;
  margin: 1rem 0;
  display: inline-block;
  width: 5%;
}

%main-h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

%container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.active {
  @extend %border-gold;
  width: auto;
  position: relative;
}

.bg-light {
  background-color: #544d3e;
  color: $dark-color;
}

.bg-dark {
  background-color: #484237;
}
